.advantages {
  position: relative;
  z-index: 1;

  /*&::before {
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 636px;
    height: 636px;

    background: url("../img/triangle-big-gray.svg") no-repeat 0 0;
    background-size: 100% 100%;

    //transform: rotate(45deg);
  }*/

  &::after {
    content: "";

    position: absolute;

    bottom: 8px;
    right: 11px;

    width: 335px;
    height: 335px;

    background: url("../img/triangle-big-gray.svg") no-repeat 0 0;
    background-size: 100% 100%;

    //transform: rotate(45deg);
  }
}

.advantages__list {
  margin: 0 auto;

  max-width: 1440px;
}
