.advantages {
  position: relative;

  &::after {
    content: "";

    position: absolute;

    bottom: 8px;
    right: 11px;

    width: 335px;
    height: 335px;

    background: url("../img/triangle-big-gray.svg") no-repeat 0 0;
    background-size: 100% 100%;
  }
}

.advantages__list {
  margin: 0 auto;

  max-width: 1440px;
}

@media (max-width: $tablet-width) {
  .advantages {
    &::after {
      display: none;
    }
  }
}
