.request-call-popup {
  position: fixed;
  z-index: 999;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  margin: 0 auto;
  padding: 0;

  width: 500px;

  &--opened {
    display: block;

    &::before {
      content: "";

      position: absolute;
      z-index: -1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 100vw;
      height: 100vh;

      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &--closed {
    display: none;
  }
}

.request-call-popup__close-button {
  position: absolute;
  z-index: 5;

  top: 20px;
  right: 20px;

  width: 16.5px;
  height: 16.5px;

  font-size: 0;

  background: transparent url("../img/popup-close.svg") no-repeat 0 0;
  border: none;

  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}
