.button {
  box-sizing: border-box;

  display: inline-block;
  vertical-align: center;

  margin: 0;
  padding: 13px 28px;

  border: 1px solid #ffffff;
  border-radius: 5px;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  text-decoration: none;

  cursor: pointer;

  &:focus {
    outline: 2px solid blue;
  }

  span {
    @include fontRobotoCondensed(14px, 16px);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.05em;
  }

  &--nav {
    &:hover {
      border-color: blue;
      background-color: #ffffff;

      span {
        color: $color-blue;
      }
    }

    &:active {
      border-color: #ffffff;
      background-color: blue;

      span {
        color: #ffffff;
      }
    }

    &:focus {
      outline: 2px solid #ffffff;
    }
  }

  &--introduce {
    padding: 17px 46px;

    span {
      font-size: 16px;
      line-height: 19px;
    }

    border-color: $color-blue;

    background-color: $color-blue;

    &:hover {
      border-color: blue;
      background-color: #ffffff;

      span {
        color: $color-blue;
      }
    }

    &:active {
      border-color: #ffffff;
      background-color: blue;

      span {
        color: #ffffff;
      }
    }

    &:focus {
      outline: 2px solid #ffffff;
    }
  }

  &--about-company {
    padding: 13px 50px;

    border: 1px solid $color-blue;

    span {
      color: $color-blue;
    }

    &:hover {
      border-color: blue;
      background-color: $color-blue;

      span {
        color: #ffffff;
      }
    }

    &:active {
      border-color: #ffffff;
      background-color: blue;

      span {
        color: #ffffff;
      }
    }
  }

  &--form {
    padding: 13px 80px;

    background-color: $color-blue;

    &:hover {
      border-color: blue;
      background-color: #ffffff;

      span {
        color: $color-blue;
      }
    }

    &:active {
      border-color: #ffffff;
      background-color: blue;

      span {
        color: #ffffff;
      }
    }
  }

  &--popup {
    padding: 13px 0;

    width: 411px;
  }
}

@media (max-width: $tablet-width) {
  .button {
    &--introduce {
      padding: 17px 33px;

      span {
        min-width: 351px;
        white-space: nowrap;
      }
    }

    &--form {
      padding: 13px 85px;
    }
  }
}

@media (max-width: $mobile-width) {
  .button {
    &--introduce {
      padding: 17px 32px;

      span {
        min-width: 250px;
      }
    }

    &--about-company {
      padding: 12px 50px;
    }

    &--form {
      padding: 13px 90px;
    }
  }
}
