.header-nav {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  z-index: 10;

  margin: 0 0 0 0;
  padding: 0 0 8px 0;
}

.header-nav__header-contacts {
  margin: 0 49px 0 0;
}

.header-nav__button-wrapper {
  margin: 1px 7px 0 0;
}

@media (max-width: $tablet-width) {
  .header-nav__header-contacts {
    margin-right: 9px;
  }

  .header-nav__button-wrapper {
    @include styleVisuallyHidden;
  }
}
