.header-contacts {
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  list-style: none;
}

.header-contacts__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 88px;
  }

  &:first-of-type {
    svg {
      top: 2px;
    }
  }

  a {
    @include fontPTMono(16px, 18px, #ffffff);
    text-decoration: none;

    svg {
      position: relative;

      fill: $color-blue;
    }

    &:hover {
      color: $color-blue;

      svg {
        fill: $light-blue-color;
      }
    }

    &:active {
      color: $light-blue-color;

      svg {
        fill: #ffffff;
      }
    }

    &:focus {
      outline: 2px solid #ffffff;
    }
  }
}

.header-contacts__item--mail {
  svg {
    margin-top: 2px;
    padding-right: 10px;
  }
}

.header-contacts__item--tel {
  svg {
    vertical-align: middle;

    padding-right: 6px;
  }
}

@media (max-width: $tablet-width) {
  .header-contacts__item {
    &:not(:last-child) {
      margin-right: 23px;
    }

    &:first-of-type {
      svg {
        top: 0;
      }
    }
  }

  .header-contacts__item--mail {
    svg {
      margin: 0 10px 0 0;
      padding-right: 0;

      width: 26px;
      height: 19px;
    }
  }

  .header-contacts__item--tel {
    svg {
      vertical-align: 0;

      margin-bottom: 0;

      width: 24px;
      height: 24px;
    }
  }

  .header-contacts__text {
    @include styleVisuallyHidden;
  }
}

@media (max-width: $mobile-width) {
  .header-contacts__item--mail {
    svg {
      margin-right: 0;
    }
  }
}
