.header-nav {
  display: flex;
  align-items: center;

  margin: -8px 0 0 0;
  padding: 0;
}

.header-nav__header-contacts {
  margin: 0 49px 0 0;
}

.header-nav__button-wrapper {
  margin: 1px 7px 0 0;
}

@media (max-width: $tablet-width) {
  .header-nav__header-contacts {
    margin-right: 9px;
  }

  .header-nav__button-wrapper {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
