.page-header {
  margin: 0;
  padding: 33px 0 0 0;

  width: 100%;

  background: #1b2d37;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;

  max-width: 1440px;

  background: #1b2d37;
}

.page-header__logo {
  z-index: 10;

  margin-left: 17px;
}

@media (max-width: $tablet-width) {
  .page-header {
    padding-top: 20px;
  }

  .page-header__logo {
    margin-left: 10px;
  }

  .page-header__wrapper {
    max-width: 750px;
  }
}

@media (max-width: $mobile-width) {
  .page-header__wrapper {
    min-width: 320px;
  }
}
