.contacts {
  box-sizing: border-box;

  padding: 0 0 0 40px;

  width: 38.1%;

  h2 {
    @include fontRobotoCondensed(15px, 16px, $bg-dark-color);
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.contacts__list {
  margin: 25px 0 0 0;
  padding: 0;

  list-style: none;
}

.contacts__item {
  @include fontPTMono(15px, 25px, $bg-dark-color);

  span {
    opacity: 0.5;
  }

  a {
    opacity: 0.5;
    color: $bg-dark-color;
    text-decoration: none;

    &:hover {
      color: $color-blue;
      opacity: 1;
    }

    &:active {
      color: blue;
      opacity: 1;
    }

    &:focus {
      outline: 2px solid blue;
    }
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    padding-left: 7px;

    width: 48%;
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    box-sizing: border-box;

    position: relative;

    padding: 15px 0 27px 15px;

    width: 100%;

    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 13px;
      padding-bottom: 13px;

      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.5;
      }
    }

    &::before {
      content: "";

      position: absolute;
      top: 36px;
      right: 17px;

      width: 15px;
      height: 1px;

      background-color: #000000;

      opacity: 0.2;
    }

    &::after {
      content: "";

      display: none;

      position: absolute;
      top: 36px;
      right: 17px;

      width: 15px;
      height: 1px;

      background-color: #000000;

      transform: rotate(90deg);
      opacity: 0.2;
    }

    &--closed {
      padding-bottom: 15px;

      &::after {
        display: block;
      }
    }
  }

  .contacts__list {
    margin-top: 20px;
    margin-left: 0;

    width: 250px;
  }
}
