.footer-nav {
  padding: 0;

  width: 61.9%;

  h2 {
    @include fontRobotoCondensed(15px, 16px, $bg-dark-color);
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.footer-nav__list {
  display: flex;
  flex-flow: column wrap;
  flex-wrap: wrap;

  margin: 25px 0 0 0;
  padding: 0;

  height: 100px;

  list-style: none;
}

.footer-nav__item {
  width: 243px;

  a {
    @include fontPTMono(15px, 25px, $bg-dark-color);
    opacity: 0.5;
    text-decoration: none;

    &:hover {
      color: $color-blue;
      opacity: 1;
    }

    &:active {
      color: blue;
      opacity: 1;
    }

    &:focus {
      outline: 2px solid blue;
    }
  }
}

@media (max-width: $tablet-width) {
  .footer-nav {
    padding-left: 3px;

    width: 50%;
  }

  .footer-nav__list {
    flex-flow: row wrap;

    height: auto;
  }
}

@media (max-width: $mobile-width) {
  .footer-nav {
    box-sizing: border-box;

    position: relative;

    margin-top: 10px;
    padding-left: 15px;

    width: 100%;

    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 30px;
      padding-bottom: 26px;

      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.5;
      }
    }

    &::before {
      content: "";

      position: absolute;
      top: 36px;
      right: 17px;

      width: 15px;
      height: 1px;

      background-color: #000000;

      opacity: 0.2;
    }

    &::after {
      content: "";

      display: none;

      position: absolute;
      top: 36px;
      right: 17px;

      width: 15px;
      height: 1px;

      background-color: #000000;

      transform: rotate(90deg);
      opacity: 0.2;
    }

    &--opened {
      padding-bottom: 30px;
    }

    &--closed {
      &::after {
        display: block;
      }
    }
  }

  .footer-nav__list {
    margin-top: 5px;
  }
}
