.social {
  padding: 0;
}

.social__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0 0 0 5px;
  padding: 0;

  list-style: none;
}

.social__item {
  margin: 0 15px 0 0;
  padding: 0;

  &--ok {
    svg {
      width: 29px;
    }
  }

  &--vk {
    svg {
      width: 29px;
    }
  }

  svg {
    fill: #cdcdcd;

    cursor: pointer;

    &:hover {
      fill: $color-blue;
    }

    &:active {
      fill: blue;
    }
  }


  a:focus {
    outline: 2px solid blue;
  }
}

@media (max-width: $tablet-width) {
  .social__item {
    &--vk {
      margin-right: 12px;
    }
  }
}

@media (max-width: $mobile-width) {
  .social {
    flex-grow: 1;
  }
}
